*{
   
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  
}

header{
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
justify-content: space-between;  
  height: 100px;
  height:120px;
}

figure img{
    height: 48px;
}
nav{
    width: 740px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}
nav li{
font-size: 19px;
text-transform: uppercase;
font-weight:600;
list-style-type: none;
}
nav .nav-active{
    background-color: #ff4e00;
    padding:20px;
}

.hero{
background-image:linear-gradient(rgba(1, 62, 170, 0.4), rgba(1, 62, 170, 0.4)), url("../img/img1final.png");
width: 100vw;
height: 660px; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.features{
    padding-top: 60px;
    background-color:#eff1f7;
}
.features-content{
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    justify-content:space-between;
}
.feature-text{
    font-size: 41px;
    font-weight: 600;
    text-align: center;
    color: #3d64aa;

}
.feature-sub-text{
    text-align: center;
    max-width: 1053px;
    font-size: 24px;
    font-weight: 400;
    line-height: 45px;  
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-text{
    margin-top: 90px;
    margin-bottom: 40px;
    font-size: 27px;
    font-weight: 600;
}
.content-text-authenticity{
    margin-bottom: 50px;
}


.content-img{
    height: 136px;
    width: 136px;
    background-repeat: no-repeat;
}

.content-img1{
    
    background-image: url("../img/authenticity.png");
}
.content-img2{
    
    background-image: url("../img/trustworthy.png");
}
.content-img3{
    background-image: url("../img/advance.png"); 
}

.container{
    display: flex;
    justify-content: center;
}
.team-wrapper{
    width: 86vw;
    
    display: flex;
  
    justify-content: space-between;
    
}
.team-container{
    width: 100vw;
    height: 625px;
    background-color: #2e4369;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}
.teams{
    margin-bottom: 72px;
}
.teams span{
    margin-top: 60px;
    Padding:25px 25px;
    text-align: center;
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
    color: white;
    background-color: #64c5e5;
}
.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
    z-index: 1;
    height: 335px;
    width: 280px;
    background-color: white;
    position: absolute;
}
.team1{
   
}
.teams-sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teams-sub-container figure{
    position: relative;
    height: 192px;
    width: 172px;
   
    z-index: 100;
    top:-50px
}

.team1{
    background-image: url('../img/employee 1.png'); 
}
.team2{
    background-image: url('../img/employee 2.png'); 
}
.team3{
    background-image: url('../img/employee 3.png'); 
}
.team4{
    background-image: url('../img/employee 4.png'); 
}

.teams-sub-container .name{
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: #090a58;
    position: relative;
    top: 170px;

}
.teams-sub-container .position{
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #090a58;
    position: relative;
    top: 155px;

}

button{
    width: 139px;
    height: 36px;
    background-color: #64c5e5;
    color: white;
    font-size: 17px;
    font-weight: 600;
    position: relative;
    top:155px;
    border: none;
    
}

